{% extends 'sitewide/base.html' %}
{% load static %}

{% block content %}
<head>
    <title>Blogs</title>
</head>

<div class="container" style="margin-bottom: 10px;">
    <div class="row row-cols-1 row-cols-md-1" style="margin-bottom: 20px; border-bottom-style: dashed; border-bottom-color: rgb(202, 202, 202);">
        <div class="column text-center">
            <img src="{% static 'blog/logo.png' %}" style="width: 200px; height: 150px; margin-top: 20px;">
            <h4> Welcome to the blog site of YTStories and we hope you are enjoying yourself in this site. 
                This is not the type of a blog that contains thoughts that are too scary even for the internet. 
                What you'll find here are updates, news or thoughts of the site's administrators. We are not forcing 
                you to read but if you have spare time we won't mind :)
            </h4>
            <br>
            <h5><i>Last updated on: {{ date.blogDate }}</i></h5>
            <br><br>
        </div>
    </div>

    
    {% for blog in blogs %}
        <div class="row row-cols-1 row-cols-md-1" style="margin-top: 10px; border-bottom-style: dashed; border-bottom-color: rgb(202, 202, 202);">
            <div class="column text-center">
                <h1>{{ blog.blogTitle }}</h1>
                <h6 style="color: gray"><i>Posted on: {{ blog.blogDate }}</i></h6>
                <h6 style="color: gray;"><i>Blog by: {{ blog.blogWriter }}</i></h6>
                <br>
                <p align="justify">{{ blog.blogContent|safe }}</p>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}
    