{% extends 'sitewide/base.html' %}
{% load embed_video_tags %}
{% block content %}
<head>
    <title>Latest Updates</title>
</head>
<div class="container" style="padding-top: 10px;">  
    <div class="row row-cols-1 row-cols-md-3">
        {% for story in stories %}
                        
        <div class="col mb-4">
            <div class="card" style="border-radius: 15px;">
                <div class="card-image-top">
                    <div class="embed-responsive embed-responsive-4by3" >
                        {% video story.commentKey.youtubeVideo %}
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ story.commentKey }}</h5>
                    <p class="card-text">{{ story.commentContent|striptags|truncatechars:150 }}</p>
                    <br>
                    <div class="container text-center">
                        <a href="{% url 'stories:one_story' story.id %}" class="btn btn-primary" style="margin-bottom: 5px;">View This Story Only</a>
                        <a href="{% url 'stories:stories' story.commentKey_id %}" class="btn btn-success" style="margin-bottom: 5px;">View All Stories On This Video</a>
                    </div>
                </div>
                <div class="card-footer">
                    <small class="text-muted">
                        Posted on: {{ story.commentDate }}<br>
                        Comment by: {{ story.commentUser }}
                    </small>
                  </div>
            </div>
            </div>
        
        {% endfor %}

    </div>
</div>
<br>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        
        {% if stories.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1"><<</a>
            </li>       
            <li class="page-item">
                <a class="page-link" href="?page={{ stories.previous_page_number }}">Previous</a>
            </li>
        {% endif %}
                
        {% for num in stories.paginator.page_range %}
            
            {% if stories.number == num %}
                <li class="page-item active"><a class="page-link">{{ num }}</a></li>
            {% elif num > stories.number|add:'-3' and num < stories.number|add:'3' %}
                <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
            {% endif %}

        {% endfor %}

        {% if stories.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ stories.next_page_number }}">Next</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ stories.paginator.num_pages }}">>></a>
            </li>   
        {% endif %}
        </ul>
  </nav>      
{% endblock %}
    