{% extends 'sitewide/base.html' %}
{% load embed_video_tags %}

{% block content %}
<head>
  <title>{{ story.commentKey.videoTitle }} - {{ story.commentUser }}</title>
</head>

<div class="container">

    <!--video card-->
  <div class="row row-cols-1 row-cols-md-4">

      <div class="col col-md-auto text-center"  style="margin-bottom: 5px;">
          <div class="card" style="width: 20rem;">
              <div class="card-img-top">
                  <div class="embed-responsive embed-responsive-4by3" >
                      {% video story.commentKey.youtubeVideo %}
                  </div>
              </div>

            </div>
      </div> 
      
      <div class="col col-md-8 text-center" style="margin-bottom: 5px;">
          <div class="card">
              <div class="card-header" style="background-color: brown; color: white;">
                <h4>{{ story.commentKey.videoTitle }}</h4>
              </div>
              <div class="card-header">
                    <a href="{% url 'stories:stories' story.commentKey_id %}"  data-toggle="tooltip" data-placement="top" title="View All">
                        <h5>There are a total of {{ count }} post{{ count|pluralize }} in this video.</h5></a>
                </div>
              <div class="card-body"  style="background-color: rgb(235, 235, 235);">
                <blockquote class="blockquote mb-0">
                  <p>
                      <b>Disclaimer:</b><br>
                      All the contents on this page belong to the rightful owners. The administrators take responsibility of any mistakes and outdated contents. Having said that, enjoy reading!
                  </p>
                </blockquote>
              </div>
            </div>
      </div>
  </div>
       <!-- Stories -->
      <div class="row row-cols-1 row-cols-md-1">
              <div class="container"  style="margin-bottom: 5px; margin-top: 10px; border-top-style:dashed ; border-top-width: 2px; border-top-color: gainsboro; background-color: rgb(252, 252, 252); padding-top: 10px;">
                  <h3>Comment by: <a href="{{ content.commentChannel }}" target="_blank">{{ story.commentUser }}</a></h3>
                  <h6 style="color: gray;"><i>Posted on the site on: {{ story.commentDate }}</i></h6>
                  <br>
                  <p style="font-size: 20px;" align="justify">{{ story.commentContent|safe }}</p>
              </div>
          </div>


</div>
{% endblock %}
    